Ex_Files_Learning_Flask.zip
env/
Ex_Files_Learning_Flask/section-7/templates/login.html
Ex_Files_Learning_Flask/section-7/templates/layout.html
Ex_Files_Learning_Flask/section-7/templates/index.html
Ex_Files_Learning_Flask/section-7/templates/home.html
Ex_Files_Learning_Flask/section-7/templates/about.html
Ex_Files_Learning_Flask/section-7/static/js/.gitignore
Ex_Files_Learning_Flask/section-7/static/img/device.png
Ex_Files_Learning_Flask/section-7/static/img/.gitignore
Ex_Files_Learning_Flask/section-7/static/css/main.css
Ex_Files_Learning_Flask/section-6/templates/home.html
Ex_Files_Learning_Flask/section-4/static/img/device.png
Ex_Files_Learning_Flask/section-4/static/img/.gitignore
Ex_Files_Learning_Flask/section-4/static/css/main.css
Ex_Files_Learning_Flask/section-4/routes.py
Ex_Files_Learning_Flask/section-4/models.py
Ex_Files_Learning_Flask/section-4/forms.py
Ex_Files_Learning_Flask/section-3/templates/layout.html
Ex_Files_Learning_Flask/section-3/templates/index.html
Ex_Files_Learning_Flask/section-3/static/js/.gitignore
Ex_Files_Learning_Flask/section-3/static/img/device.png
Ex_Files_Learning_Flask/section-2/static/js/.gitignore
Ex_Files_Learning_Flask/section-2/static/img/device.png
Ex_Files_Learning_Flask/section-2/static/img/.gitignore
Ex_Files_Learning_Flask/section-2/static/css/main.css
Ex_Files_Learning_Flask/section-2/routes.py
Ex_Files_Learning_Flask/section-3/static/img/.gitignore
Ex_Files_Learning_Flask/section-3/static/css/main.css
Ex_Files_Learning_Flask/section-3/routes.py
Ex_Files_Learning_Flask/section-3/models.py
Ex_Files_Learning_Flask/section-2/templates/layout.html
Ex_Files_Learning_Flask/section-2/templates/index.html
Ex_Files_Learning_Flask/section-2/templates/about.html
Ex_Files_Learning_Flask/section-7/routes.py
Ex_Files_Learning_Flask/section-7/requirements.txt
Ex_Files_Learning_Flask/section-7/models.py
Ex_Files_Learning_Flask/section-7/forms.py
Ex_Files_Learning_Flask/section-7/Procfile
Ex_Files_Learning_Flask/section-6/templates/signup.html
Ex_Files_Learning_Flask/section-6/templates/login.html
Ex_Files_Learning_Flask/section-6/templates/layout.html
Ex_Files_Learning_Flask/section-6/templates/index.html
Ex_Files_Learning_Flask/section-5/templates/signup.html
Ex_Files_Learning_Flask/section-5/templates/login.html
Ex_Files_Learning_Flask/section-5/models.py
Ex_Files_Learning_Flask/section-5/forms.py
Ex_Files_Learning_Flask/section-4/templates/signup.html
Ex_Files_Learning_Flask/section-4/templates/layout.html
Ex_Files_Learning_Flask/section-4/templates/index.html
Ex_Files_Learning_Flask/section-4/templates/about.html
Ex_Files_Learning_Flask/section-4/static/js/.gitignore
Ex_Files_Learning_Flask/section-6/templates/about.html
Ex_Files_Learning_Flask/section-6/static/js/.gitignore
Ex_Files_Learning_Flask/section-6/static/img/device.png
Ex_Files_Learning_Flask/section-6/static/img/.gitignore
Ex_Files_Learning_Flask/section-6/static/css/main.css
Ex_Files_Learning_Flask/section-6/routes.py
Ex_Files_Learning_Flask/section-6/models.py
Ex_Files_Learning_Flask/section-6/forms.py
Ex_Files_Learning_Flask/section-5/templates/layout.html
Ex_Files_Learning_Flask/section-5/templates/index.html
Ex_Files_Learning_Flask/section-5/templates/home.html
Ex_Files_Learning_Flask/section-5/templates/about.html
Ex_Files_Learning_Flask/section-5/static/js/.gitignore
Ex_Files_Learning_Flask/section-5/static/img/device.png
Ex_Files_Learning_Flask/section-5/static/img/.gitignore
Ex_Files_Learning_Flask/section-5/static/css/main.css
Ex_Files_Learning_Flask/section-5/routes.py
Ex_Files_Learning_Flask/section-3/templates/about.html
Ex_Files_Learning_Flask/section-7/templates/signup.html
